<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Contentful sandbox</title>
    <link rel="stylesheet" href="./public/css/app.css">
</head>
<body>
    <h1>Arnie quotes test</h1>
    <main id="app">
        <nav>
            <select v-model="filter" v-on:change="filterBy">
                <option value="all">All</option>
                <option v-for="movie in movies" v-bind:value="movie.filter">{{ movie.name }}</option>
            </select>
            <select v-model="sort" v-on:change="sortBy">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </nav>
        <section id="js-container" class="container">
            <article v-for="quote in quotes" v-bind:class="quote.className" class="mix" v-bind:data-order="quote.year">
                <blockquote cite="http://">
                    <h2> {{ quote.quote }} </h2>
                    <footer>
                        <p>{{ quote.character }}</p>
                        <p>{{ quote.movie }}</p>
                        <time>{{ quote.year }}</time>
                    </footer>
                </blockquote>
            </article>
        </section>
    </main>
    <script src="./public/js/app.js" charset="utf-8"></script>
</body>
</html>
