<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Contentful sandbox</title>
    <link rel="stylesheet" href="./public/css/app.css">
</head>
<body>
    <h1>Arnie quotes test</h1>
    <main id="app">
        <nav>
            <button v-for="character in characters" type="button" v-on:click="filterBy(character)">
            <!-- <button v-for="character in characters" type="button" v-bind:data-filter="'.'+character" class="filter-btn"> -->
                {{ character }}
            </button>
        </nav>
        <section id="js-container" class="container">
            <article v-for="quote in quotes" v-bind:class="quote.fields.character" class="mix mix-target" v-bind:data-order="quote.fields.year">
                <blockquote cite="http://">
                    <h2> {{ quote.fields.quote }} </h2>
                    <footer>
                        <p>{{ quote.fields.character }}</p>
                        <p>{{ quote.fields.movie }}</p>
                        <time>{{ quote.fields.year }}</time>
                    </footer>
                </blockquote>
            </article>
        </section>
    </main>
    <script src="./public/js/app.js" charset="utf-8"></script>
</body>
</html>
